.create-task-card {
  display: flex;
  background-color: white;
  border: .125rem solid #757780;
  border-radius: 1rem;
  aspect-ratio: 1 / 1.25;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.create-task-card:hover {
  border: .375rem solid #485d92;
}

.icon {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1.5rem;
  margin-top: 4.5rem;
}

.create-card-description {
  font-size: 2rem;
  color: #1a1b21;
}