.dashboard-main-content {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 3rem 3rem 3rem;
  background-color: white;
  gap: 2rem;
}

@container main-container (min-width: 336px) {
  .dashboard-main-content {
    grid-template-columns: 1fr 1fr;
  }
}

@container main-container (min-width: 488px) {
  .dashboard-main-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@container main-container (min-width: 640px) {
  .dashboard-main-content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@container main-container (min-width: 792px) {
  .dashboard-main-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@container main-container (min-width: 944px) {
  .dashboard-main-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@container main-container (min-width: 1096px) {
  .dashboard-main-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@container main-container (min-width: 1248px) {
  .dashboard-main-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@container main-container (min-width: 1400px) {
  .dashboard-main-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@container main-container (min-width: 1400px) {
  .dashboard-main-content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}