.header {
  display: flex;
  width: 100%;
  height: 9rem;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(222, 222, 222);
  background-color: white;
  z-index: 50;
}

.left {
  display: flex;
  margin-left: 2rem;
  align-items: center;
}

.app-title-container {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  cursor: pointer;
  text-decoration: none;
  margin-right: 2rem;
}

.app-title-container:active .app-name {
  text-decoration: underline;
}

.app-logo {
  padding-right: 1rem;
  height: 3.75rem;
  width: 3.75rem;
}

.app-name {
  font-size: 2rem;
  color: black;
}

.middle {
  flex: 1;
  display: flex;
  justify-content: center;
}

#task-title {
  flex: 1;
  height: 3.625rem;
  min-width: 35rem;
  max-width: 75rem;
  font-size: 2rem;
  justify-self: center;
  border: none;
  outline: none;
  transition: border 0.15s;
  text-align: center;
  padding: 0;
  color: black;
}

#task-title:hover,
#task-title:focus {
  border: .125rem solid #757780;
  border-radius: .375rem;
}

.right {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  margin-left: 14.668rem;
}

.btn-outline-primary {
  font-size: 1.75rem;
  border-color: #485d92;
  color: #485d92;
  transition: background-color 0.15s;
  transition: color 0.15s;
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
  color: white;
  background-color: #485d92 !important;
  border-color: #485d92 !important;
}

@media (max-width: 283px) {
  .app-title-container {
    display: none;
  }
}

@media (max-width: 499px) {
  #task-title {
    display: none;
  }

  .app-title-container {
    margin-right: 0;
  }

  .right {
    margin-left: 2rem;
  }
}

@media (min-width: 500px) and (max-width: 681px) {

  #task-app-title-container {
    display: none;
  }

  .right {
    margin-left: 2rem !important;
  }

  .left {
    margin-right: 5.400375rem;
  }
}